<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>it.blqlabs.appengine.coffeeappbackend.MyEndpoint,
                it.blqlabs.appengine.coffeeappbackend.MessagingEndpoint,
                it.blqlabs.appengine.coffeeappbackend.RegistrationEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>arduinoservlet</servlet-name>
        <servlet-class>it.blqlabs.appengine.coffeeappbackend.Arduino.ArduinoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>arduinoservlet</servlet-name>
        <url-pattern>/arduinoservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>arduinoget</servlet-name>
        <servlet-class>it.blqlabs.appengine.coffeeappbackend.Arduino.ArduinoGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>arduinoget</servlet-name>
        <url-pattern>/arduinoget</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>eventlogger</servlet-name>
        <servlet-class>it.blqlabs.appengine.coffeeappbackend.Arduino.ArduEventLogger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eventlogger</servlet-name>
        <url-pattern>/eventlogger</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getTodayKey</servlet-name>
        <servlet-class>it.blqlabs.appengine.coffeeappbackend.Arduino.ArduKeyRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTodayKey</servlet-name>
        <url-pattern>/gettodaykey</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generatorservlet</servlet-name>
        <servlet-class>it.blqlabs.appengine.coffeeappbackend.CronJobs.KeyGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generatorservlet</servlet-name>
        <url-pattern>/generator</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>